/* .bg-img {
  background: url(static/image/background-image.jpg);
  background-attachment: fixed;
  background-size: cover; } */
  


  /* Navbar................................... */

.highlighting {
  color: blue;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }