/***** GENERAL SITE SETTINGS *****/
.background-img {
  background: url(../image/background-image.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
} 

* {
    color: #fafafa;
    font-family: 'Exo 2', sans-serif;
}

/***** NAVBAR *****/
.library {
    color: #26a69a;
}
.highlighting {
    color: #26a69a;
}

.nav-icons {
    transition: all 300ms ease-in-out;  
}

.nav-icons:hover {
    color: #26a69a;
    transform: rotate(360deg); 
}

nav .brand-logo{
    font-size: 1.5rem;
}

/***** FOOTER *****/
.social-links {
  margin: 0.5em;
  transition: all 300ms ease-in-out; 
}

.social-links:hover {
  color: #26a69a;
  transform: rotate(360deg); 
}