/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/***** GENERAL SITE SETTINGS *****/
.background-img {
  background: url(../image/book.png);
  background-attachment: fixed;
  background-size: cover;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
} 

* {
    color: #fafafa;
    font-family: 'Exo 2', sans-serif;
}

.home-title {
    margin-left: 10px;
    margin-bottom: 18px;
}

/***** rgba background colour for the div container to contrast the font *****/
.bg-color {
    background-color: rgba(50, 33, 5, 0.6);
    padding: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.highlight:hover {
    background-color: rgba(225,225,225,0.1);
}

/***** As a good practice I wanted the small screen less than 768px 
to have a container with 100% width *****/
@media only screen and (max-width: 767px) {
    .container {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}

/***** to make a href on the home page visually appealing *****/
a {
    color: #26a69a;
}

.highlighting-about {
    color: #26a69a;
}

@media only screen and (max-width: 767px) {
    .book-image {
        width: 50%;
        height: auto;
    }
}
/***** NAVBAR *****/
h4 background colour appllied to both navbar and footer *****/ 
.grey.darken-3 {
    background-color: #322105!important;
}

.library {
    color: #26a69a;
}
.highlighting-nav {
    color: #26a69a;
}

.nav-icons {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;  
}

.nav-icons:hover {
    color: #26a69a;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg); 
}

/***** The font size for the brand-logo is a materialize default and it was 
overlapping on a small screen that's why media query added *****/
@media only screen and (max-width: 600px) {  
    a.brand-logo,
    h4 {
    font-size: 1.5rem;
    }
}

/***** The font size for the h5 is a materialize default and it was not 
visually appealing on a small screen that's why media query added *****/
@media only screen and (max-width: 600px) {  
    h5 {
    font-size: 16px;
    }
}

/***** The font size for the h4 is a materialize default and it was overspilling 
on a small screen less than 390px that's why media query added *****/
@media only screen and (max-width: 390px) {  
    a.brand-logo,
    h4 {
    font-size: 16px;
    }
}
  
/***** FOOTER *****/
.social-links {
  margin: 0.5em;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; 
}

.social-links:hover {
  color: #26a69a;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg); 
}

.highlighting-footer {
    color: #26a69a;
}