  {% extends 'base.html' %} {% block content %}

    <div class="row">
		<h4 class="container center"><br>About Temple <span class="highlighting">Library </span><i class="material-icons library">library_books</i></h4>
        <p class="center"><strong>We welcome all people to connect, learn, discover and grow.</strong></p>
    </div>

    <div class="row center">
        <div class="col s12 m4 l4">
            <h6>Our Mission</h6>
            <p>
                Our mission is to make our library a welcoming place to our community members as we promote a love of reading. 
                We strive to encourage the pursuit of personal interests through reading and research. To support achievement 
                of curricular goals and objectives. To encourage curiosity about the world around us. To empower our people to become 
                discriminating users of information. To provide up-to-date resources in a variety of formats.
            </p>
        </div>
        <div class="col s12 m4 l4 ">
            <h6>Our Vision</h6>
            <p>
                We imagine a Temple where all people feel seen, safe, and welcome. We imagine a city where libraries bring people 
                together to experience hope, joy, and creativity through learning.
            </p>
        </div>
        <div class="col s12 m4 l4">
            <h6>Our Values</h6>
            <p>
                The Temple Library is belong to the people. We are your Library and you — our library users — shape our work. 
                The following values guide our work.
                <ul>
                    <li>We believe that learning is a human right.</li>
                    <li>We believe in curiosity.</li>
                    <li>We believe in connection.</li>
                    <li>We believe in the power of belonging.</li>
                </ul>
            </p>
        </div>
    </div>


  {% endblock %}