<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">

    <!--Materalize Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- My Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}" type="text/css" />

    <title>Welcome to Temple Library</title>
</head>
<body class="background-img">

	<header>
		<nav class="container-fluid">
			<div class="nav-wrapper grey darken-3">
                <a href="{{ url_for('get_book') }}" class="brand-logo"><i class="material-icons library">library_books</i>Temple <span class="highlighting-nav">Library</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href=" {{ url_for('get_book') }}"><i class="material-icons nav-icons">home</i></a></li>
					<li><a href=" {{ url_for('add_book') }}"><i class="material-icons nav-icons">add</i></a></li>
					<li><a href=" {{ url_for('about') }}"><i class="material-icons nav-icons">info</i></a></li>
				</ul>
                <!-- mobile-demo, side navbar class triggering with main.js jQuery function -->
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="{{ url_for('get_book') }}">Home - Browse Books</a></li>
                    <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
			</div>
		</nav>
	</header>

    <main>
	<div class="container bg-color">
		{% block content %} {% endblock %}
	</div>
    </main>
<footer class="container-fluid page-footer grey darken-3">
	<div class="row">
		<div class="center col s12 m6">
			<h5>Temple <span class="highlighting-footer">Library</span></h5>
			<p>Data Centric Development | Milestone Project | &copy; Copyright 2020 Emal Fiza</p>
		</div>
		<div class="center col s12 m6">
			<h5>Our <span class="highlighting-footer">Social</span></h5>
			<a class="grey-text text-lighten-4" href="https://github.com/emalfiza"
				target="_blank"><i class="fab fa-github fa-2x  list-inline social-links"></i></a>
			<a class="grey-text text-lighten-3" href="https://twitter.com/emalfiza"
				target="_blank"><i class="fab fa-twitter fa-2x  list-inline social-links"></i></a>
			<a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/emal-fiza-36b33b111/"
				target="_blank"><i class="fab fa-linkedin fa-2x  list-inline social-links"></i></a>
			<a class="grey-text text-lighten-3" href="https://www.pinterest.co.uk/emalfiza/"
				target="_blank"><i class="fab fa-pinterest fa-2x  list-inline social-links"></i></a>
		</div>
	</div>
</footer>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!-- Compiled and minified JavaScript for Materalize -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    <script>  
    // searching for book info using ISBN
        $(function(){
            $('#searchIsbn').click(function(e){
                e.preventDefault();

                // disable the button until response
                $(this).attr("disabled", "disabled");

                $.ajax({
                    url: '/search_isbn',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response){

                        if(response !== "null") {
                            // convert the response to a valid JSON Object
                            let bookInfo = JSON.parse(response);
                            $("#book_name").val(bookInfo["volumeInfo"]["title"]);
                            $("#book_writer").val(bookInfo["volumeInfo"]["authors"]);
                            $("#book_genre").val(bookInfo["volumeInfo"]["categories"]);
                            $("#description").val(bookInfo["volumeInfo"]["description"]);
                            $("#book_cover").val(bookInfo["volumeInfo"]["imageLinks"]["thumbnail"]);

                        } else {
                            // display the error message
                            alert("Sorry, no data were found!");
                        }

                        // enable the button again
                        $('#searchIsbn').removeAttr("disabled");
                    },
                    error: function(error){

                        // display the error message
                        alert(error);

                        // enable the button again
                        $('#searchIsbn').removeAttr("disabled");
                    }
                });
            });
        });
    </script>
</body>
</html>