<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!--Materalize Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- My Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}" type="text/css" />

    <title>Welcome to Temple Library</title>
</head>
<body class="bg-img">
	<header>
		<nav>
			<div class="nav-wrapper grey darken-3">
                <a href="{{ url_for('get_book') }}" class="brand-logo ">Temple <span class="highlighting">Library</span></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href=" {{ url_for('get_book') }}"><i class="material-icons">home</i></a></li>
					<li><a href=" {{ url_for('add_book') }}"><i class="material-icons">add</i></a></li>
					<li><a href="collapsible.html"><i class="material-icons">info</i></a></li>
					<li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
				</ul>
                <!-- mobile-demo, side navbar class triggering with main.js jQuery function -->
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="{{ url_for('get_book') }}">Home - Browse Books</a></li>
                    <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                    <li><a href="collapsible.html">About</a></li>
                    <li><a href="mobile.html">Mobile</a></li>
                </ul>
			</div>
		</nav>
	</header>
	<div class="container">
		{% block content %} {% endblock %}
	</div>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!-- Compiled and minified JavaScript for Materalize -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>