{% extends "base.html" %} {% block content %}

<!--Books Table-->
<h4>Browse Books</h4>
<!-- <a href="{{url_for('add_book')}}">Add Book</a> -->
<table class="highlight">
	<thead>
		<tr>
			<th>Book Cover</th>
            <th>Book Name</th>
			<th>Book Writer</th>
			<th>Genre</th>
		</tr>
	</thead>
	{% for book in book %}
	<tr>
        <td><img src="{{book.book_cover}}" width="100"/></td>
        <td>
            <a href="{{url_for('view_book', book_id=book._id)}}">
                 {{book.book_name}}
            </a>
        </td>
		<td>{{book.book_writer}}</td>
        <td>{{book.book_genre}}</td>

	</tr>
	{% endfor %}
</table>

{% endblock %}