{% extends "base.html" %} {% block content %}
<!--Books Table-->
<h4>Browse Books</h4>
	{% for book in book %}
	<div class="row highlight">
		<div class="col s12 m3">
			<img src="{{book.book_cover}}" width="100%%">
	    </div>
		<div class="col s12 m3">
			<strong>Book Name:</strong><br>
			<a href="{{url_for('view_book', book_id=book._id)}}">{{book.book_name}}</a>
		</div>
		<div class="col s12 m3">
			<strong>Book Writer:</strong><br>
	        {{book.book_writer}}
	    </div>
		<div class="col s12 m3">
			<strong>Genre:</strong><br>
	        {{book.book_genre}}
	    </div>
	</div>
	{% endfor %}
{% endblock %}
